.alignleft {
	margin-inline-end: var(
		--unit
	) !important; // important to override unsuppressable inline core rules
}

.alignright {
	margin-inline-start: var(
		--unit
	) !important; // important to override unsuppressable inline core rules
}

.aligncenter,
.alignleft,
.alignnone,
.alignright {
	img {
		display: block;
	}

	a,
	img {
		margin: 0;
	}
}

.alignwide,
.alignfull {
	clear: both;
}
