// Double class name allows this trump to override other block rules

.has-block-vertical-padding.has-block-vertical-padding {
	&--none {
		padding-top: 0;
		padding-bottom: 0;
	}

	&--small {
		padding-top: var(--wp--preset--spacing--small);
		padding-bottom: var(--wp--preset--spacing--small);
	}

	&--medium {
		padding-top: var(--wp--preset--spacing--medium);
		padding-bottom: var(--wp--preset--spacing--medium);
	}

	&--large {
		padding-top: var(--wp--preset--spacing--large);
		padding-bottom: var(--wp--preset--spacing--large);
	}

	&--xlarge {
		padding-top: var(--wp--preset--spacing--xlarge);
		padding-bottom: var(--wp--preset--spacing--xlarge);
	}
}
