.has-block-margin {
	&--none {
		margin-top: 0;
		margin-bottom: 0;

		& + * {
			margin-top: 0;
		}

		* + & {
			margin-bottom: 0;
		}
	}

	&--small {
		margin-top: var(--wp--preset--spacing--small);
		margin-bottom: var(--wp--preset--spacing--small);
	}

	&--medium {
		margin-top: var(--wp--preset--spacing--medium);
		margin-bottom: var(--wp--preset--spacing--medium);
	}

	&--large {
		margin-top: var(--wp--preset--spacing--large);
		margin-bottom: var(--wp--preset--spacing--large);
	}

	&--xlarge {
		margin-top: var(--wp--preset--spacing--xlarge);
		margin-bottom: var(--wp--preset--spacing--xlarge);
	}
}

@include context-view {
	.has-block-margin {
		&--large,
		&--medium,
		&--small,
		&--xlarge {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@include context-edit {
	.has-block-margin {
		&--large,
		&--medium,
		&--small,
		&--xlarge {
			.wp-block:first-child & {
				margin-top: 0;
			}

			.wp-block:last-child & {
				margin-bottom: 0;
			}
		}
	}
}
