body {
	--body-color: var(--wp--preset--color--black);
	--body-background-color: var(--wp--preset--color--white);

	color: var(--body-color);
	background-color: var(--body-background-color);
}

html {
	&.is--mobilemenu--open {
		overflow: hidden;
		top: 0;
		width: 100vw;
		height: calc(100 * var(--vh));

		@include breakpoint(desktop) {
			overflow-y: auto;
			position: static;
			height: auto;
		}
	}
}

@include context-view {
	[id] {
		scroll-snap-margin-top: var(--unit); // Safari
		scroll-margin-top: var(--unit);
	}

	body {
		overflow-x: hidden;
	}
}
