/*
 * https://every-layout.dev/layouts/stack/
 */

.h-stack {
	--stack-size: var(--unit);

	> * {
		margin-top: 0;
		margin-bottom: 0;

		& + * {
			margin-top: var(--stack-size);
		}
	}

	&--small {
		> * + * {
			--stack-size: var(--unit--small);
		}
	}

	&--xsmall {
		> * + * {
			--stack-size: var(--unit--xsmall);
		}
	}

	&--medium {
		> * + * {
			--stack-size: var(--unit--medium);
		}
	}

	&--large {
		> * + * {
			--stack-size: var(--unit--large);
		}
	}

	&--xlarge {
		> * + * {
			--stack-size: var(--unit--xlarge);
		}
	}
}
