/*
 * https://every-layout.dev/layouts/stack/
 */

@mixin stack($size: var(--wp--preset--spacing--regular)) {

	--stack-size: #{$size};

	>* {
		margin-top: 0;
		margin-bottom: 0;

		&+* {
			margin-top: var(--stack-size);
		}
	}
}