body {
	--font-weight-normal: 400;
	--font-weight-bold: 700;

	--radius: 0;

	// Probably not necessary but useful for browser debugging
	--wp--preset--font-size--rem-base: #{$rem-font-size};

	-webkit-font-smoothing: antialiased;
}

abbr,
acronym {
	cursor: help;
}

a,
button {
	@include transition(opacity);
}

button {
	text-decoration: none;
}

blockquote {
	margin: 0;
	@extend .h-stack;
}

cite {
	display: block;
}

code {
	background-color: var(--wp--preset--color--gray-xlight);
	display: inline-block;
	padding: 0.0625em 0.25em;
}

dd+dt {
	margin-top: var(--wp--preset--spacing--regular);
}

dt {
	font-weight: 700;
}

figure,
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

figure {
	margin: 0;

	>a {
		border-bottom: none;
	}
}

figcaption {
	@extend %figcaption;
}

hr {
	border-style: solid;
	border-width: 0 0 1px;
	border-color: var(--wp-block-separator-color);
}

li {
	@extend .h-stack;
}

ol {
	padding-left: 0;
	list-style: none;
	@extend .h-stack--small;
	counter-reset: item;

	li:before {
		margin-right: var(--wp--preset--spacing--small);
		content: counters(item, '.') '. ';
		counter-increment: item;
	}

	ol {
		margin-top: var(--wp--preset--spacing--small);
		padding-left: 1.2em;
	}
}

ul {
	padding-left: 1.2em;
	list-style: revert;
	@extend .h-stack--small;

	ul {
		margin-top: var(--wp--preset--spacing--regular);
	}
}

nav {

	li,
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		text-decoration: none;
	}
}

p {
	&:empty {
		display: none;
	}

	&.has-background {
		padding: var(--wp--preset--spacing--regular);
	}
}

q {
	font-style: italic;
}

sub,
sup {
	font-size: var(--wp--preset--font-size--small);
	-webkit-font-smoothing: subpixel-antialiased;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

input,
li,
p,
tr {
	font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	word-break: break-word;

	a,
	a:active,
	a:hover {
		text-decoration: none;
		color: currentColor;
	}
}

@include context-edit {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		a,
		a:active,
		a:hover {
			color: currentColor !important;
			border: none !important;
		}
	}
}