parameters:
  phpVersion: 80416
  level: 5
  excludePaths:
    - vendor/*
    - node_modules/*
  scanDirectories:
    - ./
    - ./vendor
    - ../../plugins/
    - ../../themes/
    #- ./dist/vendor # only if in the current project
  scanFiles:
        - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
