* {
	box-sizing: border-box;

	&:after,
	&:before {
		box-sizing: border-box;
	}
}

body {
	--body-color: var(--wp--preset--color--black);
	--body-background-color: var(--wp--preset--color--white);

	color: var(--body-color);
	background-color: var(--body-background-color);
}

:not(.editor-styles-wrapper) {
	[id] {
		scroll-margin-top: var(--wp--preset--spacing--regular);
	}

	body {
		overflow-x: hidden;
	}
}
