* {
	box-sizing: border-box;

	&:after,
	&:before {
		box-sizing: border-box;
	}
}

:not(.editor-styles-wrapper) {
	[id] {
		--sht--scroll-margin-top: var(--wp--preset--spacing--regular);
		scroll-margin-top: var(--sht--scroll-margin-top);
	}

	body {
		overflow-x: hidden;
	}
}