.c-archive {
	@extend .h-stack;

	&__content {
		@extend .h-stack--medium;
	}

	&__entries {
		@extend .h-stack--medium;
	}

	&__header {
		padding-bottom: var(--unit--medium);
	}

	&__titleprefix {
		font-size: var(--wp--preset--font-size--medium);
		display: block;
	}
}
