body {
	--c-comments-border-color: var(--wp--preset--color--gray-light);
	--c-comments-background-even: var(--wp--preset--color--gray-light);
	--c-comments-background-odd: var(--wp--preset--color--white);
	--c-comments-respond-border-color: var(--wp--preset--color--gray-light);
	--c-comments-cancel-link-color: var(--wp--preset--color--primary);
	--c-comments-cancel-link-color-hover: var(--wp--preset--color--primary-dark);
}

.c-comments {
	max-width: var(--wp--style--global--content-size);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--wp--preset--spacing--regular);
	padding-right: var(--wp--preset--spacing--regular);

	@include breakpoint(tablet) {
		padding-left: 0;
		padding-right: 0;
	}

	.children {
		list-style: none;
		padding-left: 0;
	}

	.comment,
	.pingback,
	.trackback {
		padding: var(--wp--preset--spacing--regular);
		border: 1px solid var(--c-comments-border-color);

		&[class*='depth'] {
			padding-left: var(--wp--preset--spacing--regular);
			padding-right: var(--wp--preset--spacing--regular);
		}

		&.even {
			background: var(--c-comments-background-even);
		}

		&.odd {
			background-color: var(--c-comments-background-odd);
		}

		// Only if inside an existing comment (so as a specific reply)
		.comment-respond {
			padding-top: var(--wp--preset--spacing--regular);
			padding-bottom: var(--wp--preset--spacing--regular);
			border-top: 1px solid var(--c-comments-respond-border-color);
		}
	}

	.comment-awaiting-moderation {
		flex: 0 0 100%;
		opacity: 0.65;
	}

	.comment-body,
	.comment-content {
		@include stack;

		pre {
			padding: 0;
			overflow-x: auto;
		}
	}

	.commentlist {
		padding-left: 0;
		list-style: none;
	}

	.comment-meta {
		@include stack;

		@include breakpoint(tablet) {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			>* {
				margin-top: 0;
			}
		}
	}

	.comment-metadata {
		font-size: var(--wp--preset--font-size--tiny);
		text-align: right;

		@include breakpoint(tablet) {
			flex: 0 0 40%;
			margin-left: var(--wp--preset--spacing--regular);
		}
	}

	.comment-respond {
		clear: both;
	}

	.edit-link {
		margin-left: var(--wp--preset--spacing--small);
	}

	.navigation {
		@include clearfix;
	}

	#cancel-comment-reply-link {
		font-weight: normal;
		color: var(--c-comments-cancel-link-color);
		text-decoration: underline;

		&:active,
		&:hover {
			color: var(--c-comments-cancel-link-color-hover);
		}
	}
}