.c-content {
	&__content {
		@extend .h-stack;
		padding-left: var(--wp--preset--spacing--regular);
		padding-right: var(--wp--preset--spacing--regular);

		@include narrow {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
