body {
	--c-masthead-height: #{rem-calc(85px)};
	--c-masthead-padding-top: var(--unit--medium);
	--c-masthead-padding-bottom: var(--c-masthead-padding-top);

	@include breakpoint(laptop) {
		--c-masthead-height: #{rem-calc(104px)};
	}
}

.c-masthead {
	padding-top: var(--c-masthead-padding-top);
	padding-bottom: var(--c-masthead-padding-bottom);
	@extend %h-guttered;
}
