@include context-view {
	.c-mobilemenu {
		display: block;
		pointer-events: none;
		box-sizing: border-box;
		position: fixed;
		top: var(--masthead--height);
		left: 0;
		// Don't use "right" here: it creates a scroll overflow
		width: 100%;
		height: calc(100 * var(--svh));
		transform: translateX(100%);
		opacity: 0;
		z-index: 2;
		height: calc(var(--vh) * 100);
		overflow: auto;
		transition: transform 600ms ease, opacity 800ms ease;

		@media screen and (prefers-reduced-motion: reduce) {
			transition: none;
		}

		body.admin-bar & {
			top: calc(var(--masthead--height) + var(--wp-admin--admin-bar--height));
		}

		&[aria-hidden='false'] {
			pointer-events: auto;
			transform: translateX(0);
			opacity: 1;
		}
	}
}
