.c-pagelinks {
	text-align: center;
	max-width: var(--constraint-narrow);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--wp--preset--spacing--regular);
	padding-right: var(--wp--preset--spacing--regular);

	@include breakpoint(tablet) {
		padding-left: 0;
		padding-right: 0;
	}

	&__entry {
		margin-left: var(--wp--preset--spacing--small);
		margin-right: var(--wp--preset--spacing--small);
	}
}
