.c-taxonomy {
	.single & {
		padding-left: var(--wp--preset--spacing--regular);
		padding-right: var(--wp--preset--spacing--regular);
		@include breakpoint(tablet) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
