body {
	--table--border-color: var(--wp--preset--color--gray);
	--table--padding: var(--unit--xsmall);
}

.wp-block-table {
	td,
	th {
		padding: var(--table--padding);
		border: 1px solid var(--table--border-color);
	}
}
