.c-menu {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;

	&--primary {
		display: none;
		font-size: var(--wp--preset--font-size--small);

		@include breakpoint(laptop) {
			display: block;
		}

		.c-menu__item {
			display: block;
		}
	}

	&__entries {
		&--primary {
			@include breakpoint(laptop) {
				display: flex;
				flex-flow: row wrap;
			}
		}

		&--mobile {
			margin-inline-start: auto;
			margin-inline-end: auto;
			padding-left: var(--wp--preset--spacing--regular);
			padding-right: var(--wp--preset--spacing--regular);
			max-width: var(--wp--style--global--content-size);
			@include stack;

			@include breakpoint(tablet) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	&__entry {
		display: inline-block;

		&--mobile {
			display: block;

			.c-menu__entrylink {
				padding: 0;
			}
		}
	}

	&__entrylink {
		display: block;
		padding: 0.5em 1em;
	}
}
