.wp-site-blocks {
	&__inner {
		display: flex;
		flex-direction: column;
		min-height: calc(100 * var(--svh));

		.admin-bar & {
			min-height: calc(100 * var(--svh) - var(--wp-admin--admin-bar--height));
		}

	}
}
