<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"c-main"} -->
<main class="wp-block-group c-main"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1>Inhalt nicht gefunden</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Die Seite, die Sie suchten, ist leider nicht (oder nicht mehr) auf der Website vorhanden.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Diese Website durchsuchen","placeholder":"Suchbegriff eingeben","buttonText":"Suchen"} /--></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"c-footer"} /-->