<!-- wp:group {"metadata":{"name":"Site Blocks Inner Wrapper"},"style":{"spacing":{"blockGap":"var:preset|spacing|xlarge"}},"className":"wp-site-blocks__inner","layout":{"type":"default"}} -->
<div class="wp-block-group wp-site-blocks__inner">
	<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

	<!-- wp:group {"tagName":"main","metadata":{"name":"Page Content"},"className":"c-main"} -->
	<main class="wp-block-group c-main"><!-- wp:post-content {"layout":{"inherit":true}} /--></main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"c-footer"} /-->
</div>
<!-- /wp:group -->
